{% load static %} 
<!DOCTYPE html> 
<html lang="fa" dir="rtl"> 
<head> 
    <meta charset="UTF-8">n
    <title>ثبت‌نام</title> 
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}"> 
</head> 
<body>  
 
<div class="container" style="max-width: 450px; margin: 120px auto; text-align:center;"> 
b
    <h1 class="title">ثبت‌نام</h1>b
b
    {% if error %}b
        <p style="color:red;">{{ error }}</p>b
    {% endif %}b
b
    <form method="POST" style="margin-top:30px;">b
        {% csrf_token %}b
b
        <input type="text" name="username" placeholder="نام کاربری" b
               style="width:100%; padding:12px; border-radius:10px; margin-bottom:15px;">b
        b
        <input type="password" name="password" placeholder="رمز عبور" b
               style="width:100%; padding:12px; border-radius:10px; margin-bottom:15px;"> 
b
        <button type="submit" 
                style="width:100%; padding:12px; background:#4c82ff; border:none; border-radius:10px; color:white; font-size:18px;"> 
            ثبت‌نام 
        </button> 
 
    </form>  
 
</div> 
 
</body> 
</html> 
 