{% load static %}

<div class="post-card">
    {% if post.image %}
    <img src="{{ post.image.url }}" style="width:100%; border-radius:10px; margin-bottom:10px;">
{% endif %}


    <h2>{{ post.title }}</h2>
    <div class="post-body" style="margin-top: 10px; line-height: 1.8; text-align: right;">
    {% if post.body|length > 150 %}
        {{ post.body|slice:":150" }}...
    {% else %}
        {{ post.body }}
    {% endif %}
</div>

    <a href="{% url 'post_detail' post.id %}" class="btn">مشاهده بیشتر</a>


</div>
