{% extends "blog/base.html" %}
{% load static %}

{% block main %}

<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 120px;
    font-family: sans-serif;
">

    <h1 style="margin-bottom: 30px;">به سایت خوش آمدید</h1>

    <a href="{% url 'index' %}" 
       style="
           padding: 12px 30px;
           background:#4c82ff;
           color:white;
           border-radius:10px;
           text-decoration:none;
           font-size:18px;
       ">
       ورود
    </a>

</div>

{% endblock %}
